*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
}

html, body{
    width: 100%;
    height: 100%;
    cursor:none;
}

#cursor{
    position: fixed;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 1;
    mix-blend-mode: difference;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    pointer-events: none;
}

@font-face {
    font-family: "Silk Serif light";
    src: url("./fonts/silkserif-lightitalic-webfont.ttf");
}

@font-face {
    font-family: "silk serif regular";
    src: url("./fonts/silkserif-regularitalic-webfont.ttf");
}
@font-face {
    font-family: "Plain Regular";
    src: url("./fonts/plain-regular-webfont.ttf");
}

@font-face {
    font-family: "plain light";
    src: url("./fonts/plain-light-webfont.ttf");
}

@font-face {
    font-family: "roboto medium";
    src: url("./fonts/KFOlCnqEu92Fr1MmEU9fBBc4.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/KFOmCnqEu92Fr1Mu4mxK.ttf");
}
#loader-page{
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 20vh 8vw;
    background-color: #0b0b0b;
    z-index: 9999999;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

#load-count{
    width: 13vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1vw;
}

#load-count h5,h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif light";
}

.line{
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
    text-transform: uppercase;
}

.line h1{
    font-size: 7vw;
    font-weight: 100;
    font-family:"Plain regular";
}
.line:nth-of-type(3)>h2{
    -ms-flex-item-align: baseline;
        align-self: baseline;
    height: 7vw;
    font-size: 6.5vw;
    opacity: 0;
    -webkit-animation: alpha 2s linear infinite;
            animation: alpha 2s linear infinite;
    -webkit-transition: all ease;
    -o-transition: all ease;
    transition: all ease;
}

@-webkit-keyframes now-animation {
    0%{
        font-family: Plain Regular;
        font-weight: 400;
        -webkit-text-stroke: 0.1px white;
        color: white;
        opacity: 1;
    }
    48%{
        font-family: Plain Regular;
        font-weight: 400;
        -webkit-text-stroke: 0.1px white;
        color: white;
        opacity: 0;
    }
    50%{
        font-family: "silk serif regular";
        font-weight: 400;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif light";
        font-weight: 500;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 0;
    }
}

@keyframes now-animation {
    0%{
        font-family: Plain Regular;
        font-weight: 400;
        -webkit-text-stroke: 0.1px white;
        color: white;
        opacity: 1;
    }
    48%{
        font-family: Plain Regular;
        font-weight: 400;
        -webkit-text-stroke: 0.1px white;
        color: white;
        opacity: 0;
    }
    50%{
        font-family: "silk serif regular";
        font-weight: 400;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif light";
        font-weight: 500;
        -webkit-text-stroke: 1px white;
        color: transparent;
        opacity: 0;
    }
}

.line:nth-of-type(4) h4{
    margin-left: 25vw;
    font-size: 1vw;
    font-weight: 300;
    text-transform: none;
    font-family: "plain regular";
}

#main{
    position: relative;
    background-color: #151515;
}

#nav-left{
    position: fixed;
    top: 1.6vw;
    left: 5.3vw;
    height: 5vw;
    width: 8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
}

#page1{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 3.5vw 4vw;
    background-color: #151515;
}

#nav{
    width: 68vw;
    height: 5vw;
    -ms-grid-column-align: end;
        justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
#nav>h1{
    font-size: 1vw;
    font-family: "plain light";
    font-weight: 500;
    line-height: 1vw;
}

#nav-right{
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#nav-right>h3{
    font-size: 1vw;
    font-family: "plain light";
    font-weight: 500;
    line-height: 1vw;
}

#page1>h3{
    position: absolute;
    top: 30vh;
    left:20vw;
    font-size: 3vw;
    font-weight: 200;
    font-family:"silk serif regular";
    line-height: 7.5vw;

}

.page1-line{
    -webkit-transform: translate(24vw,15vh);
        -ms-transform: translate(24vw,15vh);
            transform: translate(24vw,15vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    overflow: hidden;
    gap: 0.1vw;
    z-index: 2;
    position: relative;
}
.page1-line>h1{
    font-size: 7.5vw;
    font-weight: 200;
    font-family:"Plain regular";
    line-height: 7.5vw;
}
.page1-line:nth-of-type(4)>h1{
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.page1-line:nth-of-type(4)>h1:hover{
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    -webkit-text-stroke: 1.5px white;
    color: transparent;
}

.page1-line>h3{
    margin-left: 0.5vw;
    font-size: 7.5vw;
    font-weight: 200;
    font-family:"Plain regular";
    line-height: 7.5vw;
}

#flag{
    position: absolute;
    width: 15vw;
    top: 0;
    left: 0;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    opacity: 0;
}

#scroll-text{
    position: fixed;
    height: 1vw;
    width: 3vw;
    top: 85vh;
    left: 5vw;
    overflow: hidden;
}
#scroll-text>h4{
    font-weight: 100;
    font-size: 1vw;
    color: grey;
    font-family: "plain light";
    -webkit-animation: scroll-text-anime 2s linear infinite;
            animation: scroll-text-anime 2s linear infinite;
}

@-webkit-keyframes scroll-text-anime {
    0%{
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    40%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    60%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    100%{
        -webkit-transform: translateY(200%);
                transform: translateY(200%);
    }
}

@keyframes scroll-text-anime {
    0%{
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    40%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    60%{
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }
    100%{
        -webkit-transform: translateY(200%);
                transform: translateY(200%);
    }
}

#page2{
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #151515;
}

#page2-video-container{
    width: 72vw;
    height: 72vh;
    position: relative;
}

#video-cursor{
    position: absolute;
    top: -10%;
    left: 60%;
    width: 8vw;
    height: 8vw;
    background-color: #ffa63d;
    z-index: 2;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#video-cursor i{
    width: 100%;
    height: 100%;
    font-size: 4vw;
    margin-left: 28%;
    margin-top: 45%;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

#page2-video-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#page2-video-container video{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

#page3{
    width: 100%;
    padding: 5vw 0;
    background-color: #151515;
}

#page3>h1{
    margin-left: 28vw;
    display: block;
    font-size: 7vw;
    font-family: "plain light";
    text-transform: uppercase;
    position: relative;
}
#page3>h1::before{
    content: "02";
    position: absolute;
    top: 0;
    left: -8vw;
    font-size: 3vw;
    font-weight: 500;
    font-family: "silk serif light";
}

#page3>.underline{
    margin-top: 5vw;
    margin-left: 28vw;
    width: 65vw;
}

#images-page{
    padding: 20vh 5vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2vw;
}

.img-container{
    width: 30vw;
    height: 110vh;
    gap: 1.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.text-container>h3{
    font-size: 2.5vw;
    font-weight: 500;
    font-family: "plain regular";
    text-transform: uppercase;
    margin-bottom: 2vw;
}

#img-div-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
}

#img-div-content>h4{
    font-size: 1vw;
    font-family: "plain light";
    font-weight: 100;
}
#img-div-content>h4:nth-child(1){
    width: 50%;
}

.img-div{
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.img-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}

#circle{
    position: relative;
    margin-top: 50vh;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#circle>i{
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#hover-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    scale : 0;
    padding: 0 2vw;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color: white;
}
#hover-text>p{
    font-size: 1vw;
    font-weight: 100;
    font-family: "plain light";
    color: black;
}
#circle:hover #hover-text{
    scale : 1;
}

#circle:nth-child(10)>h4{
    font-size: 1vw;
    font-family: "plain regular";
    font-weight: 100;
}
#circle:nth-child(10)>h4>span{
    font-family: "silk serif light";
}
#circle:nth-child(10):hover{
    scale: 1.1;
}


/* Alignment of different images */
.img-container:nth-child(1){
    width: 23vw;
    height: 87vh;
}

#circle:nth-child(3){
    margin-left: 10vw;
}

#circle:nth-child(4){
    margin-top: -5vh;
}

.img-container:nth-child(5){
    margin-top: 5vw;
}


.img-container:nth-child(6){
    margin-top: -4vw;
}

.img-container:nth-child(7){
    width: 23vw;
    height: 87vh;
    margin-top: -30vh;
}

#circle:nth-child(8){
    margin-top: 60vh;
    margin-left: 9vw;
}

.img-container:nth-child(9){
    width: 32vw;
    height: 110vh;
    margin-top: 3vh;
}

#circle:nth-child(10){
    background-color: #ffa63d;
    margin-top: 10vh;
    margin-left: 32vw;
}

#page4{
    width: 100%;
    height: 235vh;
    padding-left: 20vw;
    gap: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
#page4>h3{
    font-size: 3vw;
    font-family: "silk serif light";
}
#page4-content{
    position: relative;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4vw;
}
#page4-content>h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 100;
    font-family: "plain regular";
}

.underline{
    width: 100%;
    height: 2px;
    background-color: white;
}

#page4-content>p{
    font-size: 2.3vw;
    font-family: "plain light";
    width: 65%;
}

#page4-img-para{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vw;
}

#page4-img-para>img{
    height: 85vh;
    width: 32vw;
    -o-object-fit: cover;
       object-fit: cover;
}

#page4-img-para>p{
    width: 28%;
    line-height: 1.5vw;
    font-size: 1vw;
    font-family: "plain light";
}

#awards{
    position: absolute;
    top: 134vh;
    left: 22vw;
    padding-top: 2vw;
    height: 90vh;
    width: 33vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear,left top, left bottom,from(rgb(0, 102, 255)),to(rgb(35, 123, 254)));
    background: -o-linear-gradient(top,rgb(0, 102, 255),rgb(35, 123, 254));
    background: linear-gradient(to bottom,rgb(0, 102, 255),rgb(35, 123, 254));
}

.award-line{
    width: 80%;
    height: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid white;
}
.award-line>h3{
    width: 60%;
    font-size: 1.6vw;
    font-weight: 100;
    font-family: "plain light";
}

.award-line>h4{
    width: 40%;
    font-size: 1vw;
    font-family: "plain light";
    font-weight: 100;
}

#page4>.underline{
    position: absolute;
    margin-left: 8vw;
    width: 65vw;
    bottom: 0;
}

#page5{
    width: 100%;
    height: 110vh;
    padding: 1.5vw 0;
    background-color: #151515;
}

#page5>h3{
    font-size: 1vw;
    font-weight: 100;
    font-family: "plain light";
    margin-left: 28vw;
    margin-bottom: 5vw;
}

.page5-scroller{
    width: 100%;
    height: 8vw;
    margin-bottom: 1vw;
    overflow: hidden;
}

.page5-scroller-container{
    width:-webkit-max-content;
    width:-moz-max-content;
    width:max-content;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
    -webkit-animation: scroll-anime-right 40s linear infinite;
            animation: scroll-anime-right 40s linear infinite;
}
.page5-scroller:nth-child(2n)>.page5-scroller-container{
    -webkit-animation: scroll-anime-left 40s linear infinite;
            animation: scroll-anime-left 40s linear infinite;
}

@-webkit-keyframes scroll-anime-left {
    from{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    to{
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

@keyframes scroll-anime-left {
    from{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
    to{
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

@-webkit-keyframes scroll-anime-right {
    from{
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    to{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

@keyframes scroll-anime-right {
    from{
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    to{
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }
}

.page5-scroller-container>h1{
    font-size: 7vw;
    font-family: "plain regular";
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.page5-scroller-container>h3{
    font-weight: 500;
    font-size: 7vw;
    color: transparent;
    -webkit-text-stroke: 1.1px white;
    text-transform: uppercase;
    font-family: "silk serif regular";
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.page5-scroller-container>.hyphen-bar{
    width: 7vw;
    height: 0.7vw;
    border: 2px solid white;
}

#page6{
    position: relative;
    width: 100%;
    height: 150vh;
    padding: 10vh 0 10vh 28vw;
    gap: 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

#page6>h3{
    position: absolute;
    top: 10vh;
    left: 20vw;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif light";
}

#page6-content{
    width: 80vw;
    height: 110vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5vw;
}

#page6Head{
    top: 0;
    height: 15vh;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
}

#page6Head>h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "plain regular";
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

#page6Head>h1:hover{
    color: transparent;
    font-family: "silk serif regular";
    -webkit-text-stroke: 1px white;
}

#page6Head>i{
    font-size: 7vw;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#page6-content>.underline{
    width: 65vw;
    color: white;
}

#contact-links{
    width: 100%;
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "plain light";
    gap: 12vw;
}

.text-container{
    overflow: hidden;
}

#contact-links h4{
    font-size: 1vw;
    margin-bottom: 2vw;
}

#contact-links h3{
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

#page6-content>h2{
    font-size: 1vw;
    font-family: "plain light";
}
#page6-content>h2>i{
    font-weight: 100;
}

@media (max-width : 600px) {
    #cursor{
        display: none;
    }

    .line{
        width: 100vw;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 2vh;
    }
    
    .line h1{
        font-size: 10vw;
    }
    
    .line:nth-of-type(3)>h2{
        margin-left: 25vw;
    }

    .line:nth-of-type(4) h4{
        font-size: 5vw;
    }
    
    #nav-left{
        top: 3vh;
        left: 6vw;
        height: 5vw;
        width: 88vw;
    }
    
    #page1{
        height: 65vh;
    }
    
    #nav{
        display: none;
    }
    
    #page1>h3{
        top: 20vh;
        left: 5vw;
        font-size: 5vw;
    }
    
    .page1-line{
        -webkit-transform: translateY(25vh);
            -ms-transform: translateY(25vh);
                transform: translateY(25vh);
    }
    .page1-line>h1{
        font-size: 9vw;
        line-height: 10vw;
    }
    
    .page1-line>h3{
        font-size: 9vw;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    
    #scroll-text{
        display: none;
    }

    #page2{
        height: 60vh;
    }
    
    #page2-video-container{
        margin-top: 0;
        width: 100%;
        height: 50vh;
    }
    
    #video-cursor{
        margin-left: -20%;
        margin-top: 45%;
        width: 20vw;
        height: 20vw;
    }
    #video-cursor i{
        font-size: 10vw;
    }

    #page3{
        padding: 10vw 0;
    }

    #page3>h1{
        margin-left: 5vw;
        font-size: 10vw;
    }
    #page3>h1::before{
        top: -10vw;
        left: 0vw;
        font-size: 5vw;
    }

    #page3>.underline{
        margin-top: 5vw;
        margin-left: 5vw;
        width: 75vw;
    }

    #images-page{
        padding: 5vh 5vw;
        gap: 5vw;
    }

    .img-container{
        width: 90vw;
        height: 95vh;
    }

    .text-container>h3{
        font-size: 6vw;
        font-weight: 500;
        margin-bottom: 2vw;
    }

    #img-div-content{
        height: 10vh;
    }

    #img-div-content>h4{
        font-size: 4vw;
    }

    #circle{
        display: none;
    }

    /* Alignment of different images */
    .img-container:nth-child(1){
        width: 90vw;
        height: 80vh;
    }

    .img-container:nth-child(7){
        width: 90vw;
        height: 85vh;
        margin-top: 0vh;
    }

    .img-container:nth-child(9){
        width: 90vw;
        height: 90vh;
    }

    #circle:nth-child(10){
        width: 50vw;
        height: 50vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #ffa63d;
        margin-top: 0vh;
        margin-left: 20vw;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #circle:nth-child(10)>h4{
        font-size: 3.5vw;
    }

    #page4{
        height: 245vh;
        padding-left: 5vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #page4>h3{
        font-size: 5vw;
    }
    #page4-content{
        height: 235vh;
        width: 85%;
        gap: 5vh;
    }
    #page4-content>h1{
        font-size: 10vw;
    }

    #page4-content>p{
        font-size: 6vw;
        width: 100%;
    }
    
    #page4-img-para{
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        gap: 5vh;
    }
    
    #page4-img-para>img{
        height: 70vh;
        width: 90vw;
    }
    
    #page4-img-para>p{
        width: 95%;
        line-height: 6vw;
        font-size: 4vw;
    }
    
    #awards{
        position: initial;
        height: 75vh;
        width: 90vw;
    }
    
    .award-line{
        width: 90%;
        height: 18%;
    }
    .award-line>h3{
        font-size: 5vw;
    }
    
    .award-line>h4{
        font-size: 3vw;
    }
    
    #page4>.underline{
        margin-left: 5vw;
        width: 80vw;
    }
    
    #page5{
        height: 35vh;
    }
    
    #page5>h3{
        font-size: 3vw;
        font-family: "plain regular";
        margin: 2vw 0 5vw 10vw;
    }
    
    .page5-scroller{
        height: 12vw;
    }
    
    .page5-scroller-container{
        gap: 0vw;
        -webkit-animation: scroll-anime-right 60s linear infinite;
                animation: scroll-anime-right 60s linear infinite;
    }
    .page5-scroller:nth-child(2n)>.page5-scroller-container{
        -webkit-animation: scroll-anime-left 60s linear infinite;
                animation: scroll-anime-left 60s linear infinite;
    }
    
    .page5-scroller-container>h1{
        font-size: 10vw;
    }
    .page5-scroller-container>h3{
        font-size: 10vw;
    }
    .page5-scroller-container>.hyphen-bar{
        width: 10vw;
        height: 1vh;
        margin: 0 2vw;
    }

    #page6{
        height: 115vh;
        padding: 10vh 5vw 0 5vw;
    }
    
    #page6>h3{
        top: 10vh;
        left: 5vw;
        font-size: 5vw;
    }
    
    #page6-content{
        margin-top: 5vh;
        width: 90vw;
        height: 100vh;
    }
    
    #page6Head{
        height: 15vh;
    }
    
    #page6Head>h1{
        font-size: 10vw;
    }
    
    #page6Head>i{
        font-size: 10vw;
    }
    
    #page6-content>.underline{
        width: 80vw;
        margin-bottom: 5vw;
    }
    
    #contact-links{
        height: 60vh;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 6vw;
    }
    
    #contact-links h4{
        font-size: 4.5vw;
    }
    
    #contact-links h3{
        font-size: 5.5vw;
        margin-bottom: 1vw;
    }
    
    #page6-content>h2{
        font-size: 4vw;
        font-weight: 100;
    }
}